app/source/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Drag and Drop</title>
    <meta charset="ut-8">
    <link rel="stylesheet" href="css/style.min.css">
  </head>
  <body>
    <input id="files" type="file" name="files[]" multiple>
    <div class="containerFiles"></div>
    <div class="wrapper">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="container_table">
        <tr>
          <td valign="top" align="center">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
              <tr>
                <td valign="top" align="center">
                  <table id="main_table" width="750" height="800" align="center" cellpadding="0" cellspacing="0" draggable="true" ondragstart="drag(event)"></table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
    <script src="js/application.js"></script>
  </body>
</html>

app/source/index.jade
extends ./jade/layouts/layout.jade

block title
	title= "Drag and Drop"

block content
	input#files( type="file", name="files[]", multiple )
	.containerFiles
	.wrapper
		table.container_table(width="100%", border="0", cellspacing="0", cellpadding="0")
			tr
				td(valign="top", align="center")
					table(width="100%", border="0", cellspacing="0", cellpadding="0" align="center")
						tr
							td(valign="top", align="center")
								table#main_table(width="750", height="800", align="center", cellpadding="0", cellspacing="0", draggable="true", ondragstart="drag(event)")
									
